{% extends "base_generic.html" %}

{% block content %}
<div class="container bg-light m-auto">
    <h2 class="text-center p-3"><b>Edit Student Details</b></h2>
    <div class="p-5 m-auto">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ student_form.as_p }}
            <button type="submit" class="btn btn-success mr-2">Save Changes</button>
            <button  class="btn btn-secondary" onclick="window.history.back()">Back</button>
        </form>
    </div>
</div>
{% endblock %}